/* ===========================
    OS - v0.0.1
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:100%;
    height:100%;

}

body{

    background:#050505;

    color:#ffffff;

    font-family: "Share Tech Mono", monospace;

    overflow:hidden;

}

/* Fundo */

#screen{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

}

/* Vinheta */

#screen::before{

    content:"";

    position:absolute;

    inset:0;

    background:radial-gradient(circle,#111 0%,#050505 70%);

    z-index:-2;

}

/* Scanlines */

#screen::after{

    content:"";

    position:absolute;

    inset:0;

    background:repeating-linear-gradient(

        to bottom,

        transparent 0px,

        transparent 3px,

        rgba(255,255,255,.025) 4px

    );

    pointer-events:none;

    animation:scan 8s linear infinite;

    z-index:-1;

}

@keyframes scan{

    from{

        transform:translateY(0);

    }

    to{

        transform:translateY(8px);

    }

}

.container{

    text-align:center;

    user-select:none;

}

/* Logo */

h1{

    font-size:72px;

    font-weight:700;

    letter-spacing:8px;

    text-transform:lowercase;

    margin-bottom:30px;

    text-shadow:
        0 0 8px rgba(255,0,0,.6),
        0 0 18px rgba(255,0,0,.25);

}

/* Linha do terminal */

#connect{

    color:#ff3b3b;

    font-size:18px;

    letter-spacing:3px;

    margin-bottom:18px;

}

/* Cursor */

#cursor{

    animation:blink .8s infinite;

}

@keyframes blink{

    50%{

        opacity:0;

    }

}

/* Versão */

small{

    color:#666;

    letter-spacing:4px;

}

/* Mobile */

@media(max-width:768px){

    h1{

        font-size:44px;

        letter-spacing:4px;

    }

    #connect{

        font-size:14px;

    }

}
/* ===========================
   LOADING
=========================== */

.loading{

    width:420px;

    margin:40px auto 0;

}

.loading-bar{

    width:100%;

    height:8px;

    background:#161616;

    border:1px solid #2a2a2a;

    overflow:hidden;

}

.loading-fill{

    width:0%;

    height:100%;

    background:#ff2a2a;

    box-shadow:0 0 10px red;

}

#percent{

    display:block;

    margin-top:12px;

    color:#888;

    letter-spacing:2px;

}

@media(max-width:768px){

    .loading{

        width:90%;

    }

}
/* ===========================
   BOOT
=========================== */
#boot{

    width:500px;

    max-width:95%;

    margin:40px auto 0;

    font-family:"Share Tech Mono", monospace;

    color:#00ff00;

    text-align:center;

    font-size:18px;

}
@keyframes fade{

    from{

        opacity:0;

        transform:translateY(5px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
/* ===========================
   TERMINAL
=========================== */

.subtitle{

    color:#ff3333;

    letter-spacing:5px;

    margin-bottom:30px;

}

#terminal{

    width:650px;

    max-width:95%;

    margin:auto;

    text-align:left;

}

#output{

    height:300px;

    overflow-y:auto;

    color:#dcdcdc;

    line-height:1.8;

    margin-bottom:20px;

}

#inputLine{

    display:flex;

    align-items:center;

    gap:10px;

}

#inputLine span{

    color:#ff3333;

}

#terminalInput{

    flex:1;

    background:transparent;

    border:none;

    outline:none;

    color:white;

    font-family:inherit;

    font-size:16px;

}
/* ===========================
   BLOOD PARTICLES
=========================== */

#particles{

    position:fixed;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:0;

}

.particle{

    position:absolute;

    bottom:-20px;

    border-radius:50%;

    background:#ff1a1a;

    box-shadow:
        0 0 6px #ff0000,
        0 0 12px #ff0000,
        0 0 20px #ff0000;

    opacity:.8;

    animation:rise linear forwards;

}

@keyframes rise{

    from{

        transform:translateY(0) scale(1);

        opacity:.8;

    }

    to{

        transform:translateY(-110vh) scale(.2);

        opacity:0;

    }

}

/* Glow no logo */

h1{

    font-family:"Bebas Neue", sans-serif;

    font-size:40px;

    font-weight:200;

    letter-spacing:12px;

    text-transform:uppercase;

    color:#b8b8b8;

    position:relative;

    margin-bottom:30px;

   animation:chaosGlitch 0.8s infinite;

}


/* Vinheta */

body::before{

    content:"";

    position:fixed;

    inset:0;

    pointer-events:none;

    background:radial-gradient(circle,transparent 40%,rgba(120,0,0,.18));

}

/* Flash aleatório */

.glitch{

    animation:glitchFlash .15s;

}

@keyframes glitchFlash{

    0%{

        filter:brightness(1);

    }

    50%{

        filter:brightness(1.8);

    }

    100%{

        filter:brightness(1);

    }

}
.discount-code{

    color:#ff2222;

    font-size:34px;

    font-weight:bold;

    letter-spacing:8px;

    text-shadow:
    0 0 8px red,
    0 0 20px red,
    0 0 40px red;

    animation:pulseCode 1s infinite;

}

@keyframes pulseCode{

    50%{

        opacity:.5;

    }

}
#glitch-overlay {

    position: fixed;
    inset: 0;

    pointer-events: none;

    z-index: 9999;

    opacity: 0;

    background:
    repeating-linear-gradient(
        0deg,
        rgba(255,255,255,0.08) 0px,
        transparent 2px,
        transparent 4px
    );

}

@keyframes glitch {


0% {
    transform: translate(0);
}


25% {

    transform:translate(0);

    filter:
    hue-rotate(90deg)
    contrast(2);

}


50% {

    transform:translate(0);

    filter:
    hue-rotate(180deg)
    contrast(3);

}


75% {
    transform: translate(1px,0px);
}


100% {
    transform: translate(0);
}


}
/* MOBILE */

@media (max-width: 600px) {


    body {

        padding: 10px;

        overflow-x: hidden;

    }


    #terminal {

        width: 100%;

        height: 100vh;

        padding: 15px;

        box-sizing: border-box;

    }


    #output {

        font-size: 14px;

        line-height: 1.5;

        word-wrap: break-word;

    }


    #commandInput {

        width: 100%;

        font-size: 16px;

        padding: 10px;

        box-sizing: border-box;

    }


    .logo {

        font-size: 28px;

        letter-spacing: 3px;

    }


}
.glitch-active {

    animation: screenGlitch 0.1s infinite;

}


.glitch-active::before {

    content:"";

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    pointer-events:none;

    background:
    repeating-linear-gradient(
        0deg,
        rgba(255,255,255,0.05) 0px,
        transparent 2px,
        transparent 4px
    );

    z-index:9999;

}

@keyframes screenGlitch {


    0% {

        transform:translate(0);

        filter:
        hue-rotate(0deg)
        contrast(1);

    }


    10% {

        transform:translate(-2px,2px);

        filter:
        hue-rotate(10deg)
        contrast(3);

    }


    20% {

        transform:translate(2px,-2px);

        filter:
        hue-rotate(20deg)
        contrast(4);

    }


    40% {

        transform:translate(-2px,2px);

        filter:
        hue-rotate(30deg)
        contrast(2);

    }


    70% {

        transform:translate(2px,-2px);

        filter:
        hue-rotate(60deg)
        contrast(3);

    }


    100% {

        transform:translate(0);

        filter:
        hue-rotate(30deg)
        contrast(1);

    }

}

#boot {

    font-family: "Share Tech Mono", monospace;

    color: #00ff00;

    text-align: center;

    font-size: 18px;

    margin-top: 100px;

}


#progress {

    margin-top: 30px;

    letter-spacing: 5px;

}


#start {

    display:none;

    margin-top:30px;

}

.system-info {

    display:none;

    position:fixed;

    bottom:20px;

    left:50%;

    transform:translateX(-50%);

    width:100%;

    text-align:center;

    font-family:"Share Tech Mono", monospace;

    color:#ff3333;

}
/* ===========================
   CHAOS GLITCH SYSTEM
=========================== */


h1::before,
h1::after{

    content:attr(data-text);

    position:absolute;

    left:0;

    top:0;

    width:100%;

}


/* camada azul */

h1::before{

    color:#00ffff;

    z-index:-1;

  animation:rgbShift 0.05s infinite;

}


/* camada rosa */

h1::after{

    color:#ff00ff;

    z-index:-2;

    animation:rgbShift2 0.07s infinite;

}



@keyframes rgbShift{


0%,100%{

    transform:translate(0);

}


25%{

    transform:translate(2px,0);

}


50%{

    transform:translate(-2px,0);

}


75%{

    transform:translate(1px,0);

}

}


@keyframes rgbShift2{

0%,100%{

    transform:translate(0);

}


30%{

    transform:translate(-2px,1px);

}


60%{

    transform:translate(2px,-1px);

}


}



@keyframes chaosGlitch{


0%,85%,100%{

filter:none;

}


86%{

filter:
hue-rotate(90deg)
contrast(2);

transform:skew(2deg);

}


88%{

filter:
hue-rotate(180deg);

transform:skew(-2deg);

}


90%{

filter:
invert(1);

}


92%{

transform:none;

filter:none;

}

}
.quick-commands{

    display:flex;

    justify-content:center;

    gap:12px;

    margin-top:20px;

    flex-wrap:wrap;

}

.quick-btn{

    background:transparent;

    color:#ff0000;

    border:1px solid #ff0000;

    padding:8px 18px;

    font-family:monospace;

    cursor:pointer;

    transition:.25s;

}

.quick-btn:hover{

    background:#ff0000;

    color:#000;

}

.quick-btn:active{

    transform:scale(.95);

}